node_modules
dist
.babelrc
.vscode
Hey
assets/scripts/testing.js
firebase-debug.log
test.js
tests.html
.jshintrc
.firebase/
database-debug.log
assets/scripts/testing.js

#Added for the estate ui re-design
assets/estate-ui-local/