/*
 Global values
 font-family: Sen,Ubuntu,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 Colors :
  #7e1e6e;
*/

html , body{
    /* overflow-x: hidden; */
}

body {
    position : relative;
    font-family: Sen,Ubuntu,Tahoma,'Segoe UI', Geneva, Verdana, sans-serif !important;
}

/* styles for the top header  */
.top-header{
    padding:8px 20px;
    background-color: #7e1e6e;
    
    border-bottom: 2px solid whitesmoke;
}
.top-header-margin{
    width: max-content;
    margin:0% 5%;
    display:inline-block;
}

.actions a {
    margin:0px 5px;
}

.btn.btn-top-header-links, select.btn-top-header-links {
    font-size:12px;
    
    background-color: #7e1e6e;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding:6px !important;
    
}

.btn.btn-top-header-links:hover {
    background-color: whitesmoke;
    color: #7e1e6e;    
    font-weight:bold;
}

/* for the main menu */
.navbar-brand img{
    width:70%;
}
.mainMenu-container{
    transition: 0.6s ease;
    /* background-color:rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    padding:30px 20px !important;
}

  /* The class is added to the header with JS when it reaches its scroll position to changer BG color*/
  .mainMenu-container.scrolled{
    background-color:rgba(126, 30, 110, 0.95);
    padding:0 !important;
  }


.navbar-nav > .nav-item{
    margin:0% 1%;
}

.nav-link {
    /* padding: .0rem 1.5rem; */
    color:whitesmoke;
}

.nav-item:hover {
    background-color:rgba(126, 30, 110, 0.6);
    border-bottom: 4px solid #4e0642;

}

.nav-item:hover > a.nav-link , .dropdown-menu > a.dropdown-item {
    color:whitesmoke;
    text-decoration:none;
}

.nav-item.active {
    background-color: rgba(249, 249, 249, 0.6);
    border-bottom: 4px solid #4e0642;
}

.nav-item.active > a {
    color:#4e0642;
}

.dropdown-menu {
    background-color: rgba(126, 30, 110, 0.9) !important;
}

.dropdown-item:hover {
    color : #4e0642 !important;
}

.btn.btn-add-property {
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    /* #7e1e6e #4a073f */
    background-color:#4a073f ; 
    color: #fff;
}

.btn.btn-add-property:hover{
    background-color: whitesmoke;
    color: #550848 !important;
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,245,245, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
    border: 1px solid whitesmoke !important;
}

.navbar-toggler:hover {
    background-color:#4e0642;
    border-color:#4e0642 !important;
}

.dropdown-menu.show{
    background-color:rgba(126, 30, 110, 0.8);
    padding:2% 0%;
}

.show .nav-item{
    margin : 0;
}

.show .nav-item .nav-link{
    padding:10px;
}

.dropdown-menu.show .dropdown-item{
    padding:10px;
}
    
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  

  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .page-content {
    padding-top: 102px;
  }
/* end of header styles */

/* ================================= beginning of main slider section styles =================================*/

#slider-section {
    /* min-height : 550px; */
    height : auto;
}

#slider-section .carousel-item {
    background-size: cover;
    background-position:center;
  }

  #slider-section .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      height:auto;
      /* min-height: 300px; */
  }


  #slider-section .carousel-caption h2 , #slider-section .carousel-caption p {
      color:#fff !important;
      margin-bottom:10px;
      /* border:2px solid red; */
  }

  #slider-section .carousel-caption p {
      text-align:left;
  }

/* end of slider section styles */

/*========================= Property section styles ======================================*/
.property-section-margin{
    margin:0% 10%;
}

.single-properties-slider-section .single-property .card{
    min-height:450px;
    max-height: 650px;
}

.single-property-overlay-text {
    position: absolute;
    left: 10%;
    top: 5%;
    color: whitesmoke;
    background-color: rgba(126, 30, 110, 0.75);
    padding: .5rem;
}

.single-property-additional-info{
    /* background-color: red; */
    /* position: relative;
    top: -90px; */
    /* border: 5px solid red; */
    background-color: rgba(126, 30, 110, 0.8);
    margin: 0;
    padding: 5px 0px;
}

.single-property-additional-info div{
    border-right:1.5px solid white;
}

.single-property-additional-info h6,
.single-property-additional-info figure{
    font-size:13px;
    color:#fff;
    font-family:inherit !important;
}

.single-property-additional-info figure{
    text-align: center;
}

.single-property p.card-text {
    border-bottom:none;
    font-size:16px;
    opacity:unset;
    font-family: inherit;
}

.btn.btn-property-price {       
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.5s;
    background-color: #7e1e6e;
    color: #fff;      
    
    /* width: 100%; */
    width:100%;
    padding: 12px 6px;

    position:absolute;
    bottom: 0px;
}

.btn.btn-property-price:hover {
    background-color: #fff;
    color: #7e1e6e;
    border: 2px solid #7e1e6e;
    cursor: pointer;
}

.single-properties-slider-section .card .card-img-top {
    height : 230px;
}

@media (max-width: 768px) {
    .single-properties-slider-section .carousel-inner .carousel-item > div {
        display: none;
    }
    .single-properties-slider-section .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.single-properties-slider-section .carousel-inner .carousel-item.active,
.single-properties-slider-section .carousel-inner .carousel-item-next,
.single-properties-slider-section .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .single-properties-slider-section .carousel-inner .carousel-item-right.active,
    .single-properties-slider-section .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .single-properties-slider-section .carousel-inner .carousel-item-left.active, 
    .single-properties-slider-section .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.single-properties-slider-section .carousel-inner .carousel-item-right,
.single-properties-slider-section .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.property-slider-controls{
    display: flex;
}

.property-slider-controls a {
    font-size:25px;
    margin:0% 10%;
    padding:.7rem;
    color : #7e1e6e;
    border: 1px solid #7e1e6e;
}

.property-slider-controls a:hover {
    text-decoration: none;
    background-color: #7e1e6e;
    color:whitesmoke;
}

/* End Property section styles */

/*========================================== Service section styles ======================================================= */
#services-section{
    /* rgba(126, 30, 110, 0.8)) */
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)),url(../img/bg_images/image6.jpg);
    background-position: center;
    background-size: cover;

    /* border:2px solid red;  */
    padding:30px 0px;
}

.service-section-header h2 ,
.single-service .card-header .card-title {
    color:white;
}

.custom-margin{
    margin:0% 5%;
}

.single-service{
    /* border:1px solid green; */
    min-height:400px;
    margin:0px 5px;
    padding:10px 5px 2px 5px;

    /* background-color: rgba(0, 0, 0, 0.35); */
}

.single-service .card {
    background-color: unset;
    /* background-color: rgba(0, 0, 0, 0.68); */
    border : none;
}

.single-service .card-header {
    padding:0;
    background-color: unset;
    border-bottom:none;

    text-align:center;
}

.single-service .service-img-container {
    text-align:center;
}

.single-service .service-img-container img.card-img-top {
    /* width:60%; */
    width: 200px;
    height: 180px;
}

.single-service .service-text .card-text{
    /* text-align: justify; */
    border-bottom:none;

    color:white;
    font-size:18px;
    opacity:unset;
    font-family: inherit;
}


@media (max-width: 768px) {
    .services-slider-section .carousel-inner .carousel-item > div {
        display: none;
    }
    .services-slider-section .carousel-inner .carousel-item > div:first-child {
        display: block;
    }

    .services-slider-section .carousel-inner .carousel-item-right.active,
    .services-slider-section .carousel-inner .carousel-item-next {
      transform: translateX(30%);
    }
    
    .services-slider-section .carousel-inner .carousel-item-left.active, 
    .services-slider-section .carousel-inner .carousel-item-prev {
      transform: translateX(-30%);
    }
}

.services-slider-section .carousel-inner .carousel-item.active,
.services-slider-section .carousel-inner .carousel-item-next,
.services-slider-section .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 4 */
@media (min-width: 768px) {
    
    .services-slider-section .carousel-inner .carousel-item-right.active,
    .services-slider-section .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .services-slider-section .carousel-inner .carousel-item-left.active, 
    .services-slider-section .carousel-inner .carousel-item-prev {
      transform: translateX(-25.9%);
    }
}

.services-slider-section .carousel-inner .carousel-item-right,
.services-slider-section .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.service-slider-controls{
    display: flex;
}

.service-slider-controls a {
    font-size:25px;
    margin:0% 10%;
    padding:.7rem;
    color : whitesmoke;
    border: 1px solid white;
}

.service-slider-controls a:hover {
    text-decoration: none;
    background-color: white;
    color:#7e1e6e;
}

.btn.btn-service-link {       
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.5s;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: #fff;      
    
    width: 100%;
    /* width:24.5%; */
    padding: 10px 5px;

  /*   position:fixed;
    bottom: 0px; */
}

.btn.btn-service-link:hover {
    background-color: #fff;
    color: #7e1e6e;
    border: 2px solid #7e1e6e;
    cursor: pointer;
}

/* End service section styles */

/* ============================= START sign up section styles ======================================== */

#sign-up-section{
    padding: 20px 0px;
    /* background-color: #7e1e6e; */
    background-color: rgba(126, 30, 110, 0.85);
}

#sign-up-section .signup-section-text h3{
    color: white;
    /* font-family:inherit; */
    font-family: Tahoma,Verdana, Geneva, sans-serif;
    vertical-align: middle ;

    margin-top:23px;
}

#sign-up-section p {
    color: white;
    opacity:unset;
}

.btn.btn-signup-section-button {       
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.5s;
  
    background-color: transparent;
    color: white;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 10px 20px;

    /* position:fixed;
    bottom: 0px; */
}

.btn.btn-signup-section-button:hover {
    background-color: #fff;
    color: #7e1e6e;
    border: 2px solid black;
    cursor: pointer;
}
/* End sign up section styles */

/* ==============================BEGIN testimonial section styles===============================*/
   /*  #testimonial-section {
        min-height:350px;
    } */

    .video-column,
    .testimonial-column{
        min-height:400px;
    }

    .video-column h3,
    .testimonial-column h3 {
        text-align : center;
        border-bottom: 0.5px solid lightgray;
    }

    .testimonial-column {
        border-color: rgba(126, 30, 110, 0.7);
    }
      .testimonial-column .carousel-caption {
        padding: 0;
        right: 0;
        left: 0;
        color: #3d3d3d;
      }
      .testimonial-column .carousel-caption h4 {
        color: #3d3d3d;
      }
      .testimonial-column .carousel-caption p {
        line-height: 30px;
      }
      .testimonial-column .carousel-caption .col-md-4 {
        display: flex;
        align-items: center;
      }
      .testimonial-column .carousel-caption .col-md-8 {
        text-align: left;
      }

      .single-testimony{
          margin-top:40px;
          padding:15px;
      }
      
      .single-testimony img{
          width:65%;
      }
   
      .testimonial-slider-controls a {
          /* padding: 10px; */
          /* font-size:25px; */
        /* margin:0% 10%; */
        text-decoration:none;
        padding:.7rem;
        color : #7e1e6e;
        border: 1px solid #7e1e6e;
      }

      .testimonial-slider-controls a:hover {
          /* background-color: #666; */
        text-decoration: none;
        background-color: #7e1e6e;
        color:whitesmoke;
      }
      
      
/* End testimonial section styles */

/* ========================================= begin footer styles =======================================*/
#page-footer .inner #footer-main{
    border-bottom: 1px solid whitesmoke;
}

.footer-about-us p {
    color:#fff;
    opacity: unset;
}

.btn.btn-about-us {       
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.5s;
  
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 8px 10px;

    /* position:fixed;
    bottom: 0px; */
}

.btn.btn-about-us:hover {
    background-color: #fff;
    color: #7e1e6e;
    cursor: pointer;
}

.footer-links .list-links li {
    width:60%;
    list-style-type: none;
}

.footer-links .list-links li a {
    color:#fff;
    padding:5px 10px;  
}

.footer-links .list-links li:hover {
    background-color: #fff;    
}

.footer-links .list-links li:hover a,
.footer-links .list-links li a:hover {
    color:#7e1e6e;
    text-decoration: none;    
    padding-left:15px;  
}

.footer-logo img {
    width:100%;
}

.social-media-icons li {
    list-style: none;
    margin:0% 5%;
}

.social-media-icons li a i{
    color:#fff;
}

.social-media-icons li a:hover i{
    color:#4a073f;
}

#footer-copyright a.go-to-top {
    background-color: #4a073f;
    padding:5px;
}

#footer-copyright a.go-to-top:hover {
    color: #4a073f !important;
    background-color: #fff;
    padding:5px;
}

/* end footer style */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .show{
        background-color:rgba(126, 30, 110, 0.8);
        padding:2% 0%;
    }

     /* slider styles */
     #slider-section .carousel-item {
        height: 450px;        
      }
    
      #slider-section .carousel-caption h2 {
          font-size:40px;
          font-weight: 700;
      }
    
      #slider-section .carousel-caption p {
        font-size:16px;      
      }

        /* ======================================== Property section styles START =============================== */
        .property-section-margin{
            margin:0% 4%;
        }

        .property-slider-controls a {            
            /* margin:0% 6%;      */
            padding:.6rem; 
            font-size:17px;     
        }
     
        .link-arrow {            
            font-size:15px;
          }
        /* Property section styles END */

        /* ==========================================service section styles START ================================= */
        #services-section {

            padding:20px 0px;
        }
        .service-section-margin{
            margin:0% 2%;
        }
        .single-service{           
            min-height:450px;
        }

        .single-service .service-img-container img.card-img-top {
            /* width:60%; */
            width: 300px;
            height: 270px;
        }
        .single-service .single-service-text {

        }

        /* service section style END */

        /* ==================================== testimonial section styles =================================== */
        .video-column,
        .testimonial-column{
            min-height:300px;
        }

        .single-testimony{
            margin-top:20px;
            padding:15px;
        }
        
        .single-testimony img{
            width:40%;
        }

        .single-testimony h4.testimonial-title{
            padding-top:15px;
            text-align: center;
          }

              /* foooter styles*/
    .social-media-column,
    .footer-links {
        border-top:1px solid white;
        
    }
     
    .social-media-column,
    .footer-links,
    .footer-about-us {
        padding:20px;
    }

    .footer-links .list-links li {
        width:70%;
        margin-top:2.5%;
    }

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
        /* foooter styles*/
        .social-media-column,
        .footer-links,
        .social-media-icons {
            border-top:1px solid white;
        }
 }

/* Small devices (landscape phones, 576px and up) //PLUS/ Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 991.98px) { 

    .show{
        background-color:rgba(126, 30, 110, 0.6);
        padding:2% 0%;
    }

         /* slider styles */
         #slider-section .carousel-item {
            height: 450px;        
          }

          #slider-section .carousel-caption h2 {
            font-size:50px;
            font-weight: 700;
        }
      
        #slider-section .carousel-caption p {
          font-size:18px;      
        }

        /* Property section styles */
        .property-section-margin{
            margin:0% 5%;
        }

        .property-slider-controls a {            
            margin:0% 7%;           
        }
 }

 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
 
    /*main menu styles */
    /* .navbar-nav{
        width:70%;
    } */

    #mainMenu > .navbar-nav {
        min-width: 65%;
    }

    /* slider styles */
    #slider-section .carousel-item {
        height: 700px;
      }

      #slider-section .carousel-caption {
        width:30%;
    
        left:unset;
        /* text-align: justify; */
        
        bottom:unset;
    
          top:35%;
      }
    
      #slider-section .carousel-caption h2 {
          font-size:62px;
          font-weight: 700;
      }
    
      #slider-section .carousel-caption p {
        font-size:20px;
      
      }

      /* foooter styles*/
    .social-media-column,
    .footer-links,
    .social-media-icons {
        border-left:1px solid white;
    }

    .social-media-row{
        margin:15% 0%;
    }
 }

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    #mainMenu > .navbar-nav {
        min-width: 70%;
    }

    /* slider styles */
    #slider-section .carousel-item {
        height: 700px;
      }

      #slider-section .carousel-caption {
        width:30%;
    
        left:unset;
        /* text-align: justify; */
        
        bottom:unset;
    
          top:35%;
      }
    
      #slider-section .carousel-caption h2 {
          font-size:62px;
          font-weight: 700;
      }
    
      #slider-section .carousel-caption p {
        font-size:20px;
      
      }

    .single-properties-slider-section .card .card-img-top {
        height : auto;
    }

    .single-properties-slider-section .single-property .card{
        min-height:500px;
        max-height: 650px;
    }

      /* foooter styles*/
      .social-media-column,
      .footer-links {
          border-left:1px solid white;
      }

      .social-media-row{
          margin: 15% 0%;
      }

 }
